@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(./email-subs-img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: none center;
    position: relative;
    min-height: 100vh;
}

.blackBox{
    background: rgba(6, 6, 6, 0.642);
    min-height: 100vh;
    width: 100%;
}

.container{
    position: absolute;
    left: 10%;
    top: 30%;
    color: #fff;
    font-weight: 400;
    z-index: 10;
}


.container p{
    font-size: 26px;
    margin-bottom: 25px;
}

.container h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container .box{
    display: flex;
    align-items: center;
    background: #fff;
    width: 80%;
    margin-top: 38px;
}

.box input{
    border: none;
    outline: none;
    flex: 1;
    padding: 12px 20px;
    font-size: 13px;
}

.box button{
    border: none;
    outline: none;
    background: rgb(92, 194, 52);
    padding: 12px 28px;
    cursor: pointer;
}

.box button img{
    width: 23px;
    height: 21px;
}

#sendMsg{
    color: rgba(5, 253, 5, 0.869);
    font-size: 15px;
    margin-top: 7px;
    display: none;
}